body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  text-align: center;
}

.container{
  max-width: 400px;
  margin: 0  auto;
  padding: 20px 35px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1{color: #333;}

.Weather{
  margin-top: 20px;
}

input[type="text"]{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button{
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.result{
  display: none;
  margin-top: 20px;
}

/* api key{
  ff29eba9c21982317cb7142a083fd325
} */